/*
todo: this is not quite right, it squashes the canvas when too narrow
*/
canvas {
    height: 100%;
    max-width: 100%;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
